extends layout.pug 

block head 
    link(rel="stylesheet", href="/css/index.css")
    title= siteTitle

block content
   section.container
        div.row
            div.col-md-6.offset-md-3
                div.card.my-5
                    form.card-body.cardbody-color.p-lg-5
                        div.text-center
                            img(
                                src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
                                class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" 
                                width="200px"
                                alt="profile"
                            )
                        div.mb-3
                            input(
                                type="text" 
                                class="form-control" 
                                id="Username" 
                                aria-describedby="emailHelp"
                                placeholder="User Name"
                            )
                        div.mb-3
                            input(
                                type="password"
                                class="form-control" 
                                id="password" 
                                placeholder="password"
                            )
                        div.text-center
                            button#btn-color.btn.px-5.mb-5.w-100(
                                type="submit" 
                            ) Login
                        div#emailHelp.form-text.text-center.mb-5.text-dark Not Registered? 
                            a(href="/register" class="text-dark fw-bold") Create an Account