extends layout.pug 

block head 
    link(rel='stylesheet', href='/css/faceAuth.css')
    title= siteTitle

block content 
    section
        article#role-camera.p-3
            video#video(autoplay) 
            canvas#canvas 
        article#role-auth
            h3.text-center Identificando rosto de #{data.firstName}
            ul.text-center
                li O ambiente deve estar iluminado.
                li Aproxime sua face da camera.
                li Aguarde um tempo.
            div#spinner-content
                div(class='spinner-border text-primary' role='status')
                    span(class='visually-hidden')
            p#error_alert

block script 
    script(type='module' src='/js/api_find.js')
    script.
        // Cognitive Services variables.
        const API_URL = '#{API_URL}'
        const KEY = '#{KEY}'

        // Local endpoint variable.
        const LOCAL_URL = '#{LOCAL_URL}'

        // General variables.
        const IMAGE_FROM_DB = '#{data.userImage}'
