extends layout.pug 

block head 
    link(rel='stylesheet', href='/css/loginForm.css')
    title= siteTitle

block content
    if error_msg != ''
        div(class='container alert alert-danger alert-dismissible show fade' role='alert')
            button(class='btn-close' data-bs-dismiss='alert') 
            strong= error_msg
        
    else if success_msg != ''
        div(class='container alert alert-success alert-dismissible show fade' role='alert')
            button(class='btn-close' data-bs-dismiss='alert') 
            strong= success_msg

    section.container
        div.row
            div.col-md-6.offset-md-3
                div.card.card-4.my-5
                    form(method='POST').card-4.card-body.cardbody-color.p-lg-5
                        div.text-center.container-fluid
                            img(
                                src='/assets/images/avatar-facial-recognition.jpeg'
                                class='img-fluid img-thumbnail rounded-circle mb-3' 
                                alt='profile'
                                width='200px'
                                height='200px'
                            )
                        div.mb-3
                            input(
                                type='email' 
                                class='input--style-3' 
                                name='email'
                                id='email' 
                                placeholder='Email'
                            )
                        div.mb-3
                            input(
                                type='password'
                                class='input--style-3' 
                                name='password'
                                id='password' 
                                placeholder='Password'
                            )
                        div.text-center
                            button.btn.btn-color.px-5.mb-5.w-100(type='submit') Login

                        div#emailHelp.form-text.text-center.mb-5.text-dark Not Registered? 
                            a(href='/dataRegister' class='text-dark fw-bold') Create an Account
block script 
    script.
       window.onload = setTimeout(() => document.querySelector('.alert').remove(), 3000)
