extends layout.pug 

block head 
    link(rel='stylesheet', href='/css/loginForm.css')
    title= siteTitle

block content
    section.container
        if error_msg != ''
            div(class='alert alert-danger' role='alert')= error_msg
        
        else if success_msg != ''
            div(class='alert alert-success' role='alert')= success_msg

        div.row
            div.col-md-6.offset-md-3
                div.card.card-4.my-5
                    form(method='POST').card-4.card-body.cardbody-color.p-lg-5
                        div.text-center
                            img(
                                src='https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png'
                                class='img-fluid profile-image-pic img-thumbnail rounded-circle my-3' 
                                width='200px'
                                alt='profile'
                            )
                        div.mb-3
                            input(
                                type='email' 
                                class='input--style-3' 
                                name='email'
                                id='email' 
                                placeholder='Email'
                            )
                        div.mb-3
                            input(
                                type='password'
                                class='input--style-3' 
                                name='password'
                                id='password' 
                                placeholder='Password'
                            )
                        div.text-center
                            button#btn-color.btn.px-5.mb-5.w-100(type='submit') Login

                        div#emailHelp.form-text.text-center.mb-5.text-dark Not Registered? 
                            a(href='/dataRegister' class='text-dark fw-bold') Create an Account
block script 
    script.
        const alert = document.querySelector('.alert')
        
        setTimeout(function(){
            alert.style.display = 'none'
        }, 3000)
