extends layout.pug

block head 
    link(rel="stylesheet", href="/css/faceDetect.css")
    title= siteTitle

block content 
    section
        article#role-camera 
            video#video(autoplay) 
            canvas#canvas 
        article#role-attr
            h3 Face de #{data.firstName}
            div
                ul 
            div#up-photo
                button#submit.btn.btn-primary Capturar

block script 
    script(src="/js/camera.js") 
    script(src="/js/api_detect.js") 
    script.
        // Local endpoint variable.
        const LOCAL_URL = 'http://localhost:3333/'

        // Control variables.
        const sendImage = document.querySelector('#submit')

        // General variables.
        var currentFace 
        const currentData = {
            firstName: '#{data.firstName}',
            lastName: '#{data.lastName}',
            gender: '#{data.gender}',
            email: '#{data.email}',
            password: '#{data.password}',
            userImage: {},
        }

        // Get image from camera.js - Midleware setted in public.
        const getImageAtNow = async (faceImage) => {
            currentFace = faceImage 
        }
        
        // Upload Image + Data
        const sendImageTo = async () => {
            currentData.userImage = currentFace
            
            try {
                const { data } = await axios({
                    method: 'POST',
                    url: LOCAL_URL + 'userRegister', 
                    headers: {'Content-Type': 'application/json' }, 
                    data: currentData
                })
                if(data) {
                    alert('Usuário cadastrado com sucesso.')
                }
            } catch (error) {
                console.error(error)
            }      
        }

        sendImage.addEventListener('click', () => sendImageTo())