extends layout.pug

block head 
    link(rel='stylesheet', href='/css/faceDetect.css')
    title= siteTitle

block content 
    section
        article#role-camera 
            video#video(autoplay) 
            canvas#canvas 
        article#role-attr
            h3 Face de #{data.firstName}
            div
                ul 
            div#up-photo
                button#submit.btn.btn-primary Capturar

block script 
    script(src='/js/api_detect.js') 
    script.
        // Cognitive Services variables.
        const API_URL = '#{API_URL}'
        const KEY = '#{KEY}'

        // Local endpoint variable.
        const LOCAL_URL = '#{LOCAL_URL}'

        // General variables.
        let currentFace 

        // Control variables.
        const sendImage = document.querySelector('#submit')

        // Get current user image from in api_detect - Midleware setted in public.
        const getCurrentImage = async (faceImage) => {
            currentFace = faceImage 
        }

        // Upload Image + Data
        const registerAndSendUserFace = async () => {
            try {
                const { data } = await axios({
                    method: 'PUT',
                    url: LOCAL_URL + 'faceRegister' + '/#{data.id}', 
                    headers: { 'Content-Type': 'application/octet-stream' }, 
                    data:  currentFace
                })
                if(data.redirect) {
                    window.location = `${data.redirect}`
                }

            } catch (error) {
                console.error(error)
            }      
        }
        
        sendImage.addEventListener('click', () => registerAndSendUserFace())