extends layout.pug

block head 
    link(rel='stylesheet', href='/css/faceDetect.css')
    title= siteTitle

block content 
    section
        article#role-camera 
            video#video(autoplay) 
            canvas#canvas 
        article#role-attr
            h3 Face de #{data.firstName}
            div
                ul 
            div#up-photo
                button#showModal.btn.btn-color.mt-2(type='button'  data-bs-toggle='modal' data-bs-target='#userModal') Capturar

        //- Modal
        div#userModal.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
            div.modal-dialog.modal-dialog-centered.modal-lg
                div.modal-content
                    div.modal-header
                        h5#staticBackdropLabel.modal-title Sua Imagem atual
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')

                    div.modal-body
                        img#userImage(src='' alt='User image' width='100%' height='100%')

                    div.modal-footer
                        button.btn.btn-color-2(type='button' data-bs-dismiss='modal') Fechar
                        button#submit.btn.btn-color(type='button') Enviar

block script 
    script(type= 'module' src='/js/api_detect.js') 
    script.
        // Cognitive Services variables.
        const API_URL = '#{API_URL}'
        const KEY = '#{KEY}'

        // Local endpoint variable.
        const LOCAL_URL = '#{LOCAL_URL}'

        // General variables.
        let currentFace 

        // Control variables.
        const sendImage = document.querySelector('#submit')
        const userModalEl = document.querySelector('#showModal')
        const userImageEl = document.querySelector('#userImage')

        // Get current user image from in api_detect - Midleware setted in public.
        const getCurrentImage = (faceImage) => { return currentFace = faceImage }

        const showCurrentUserImage = () => {
            userImageEl.src = currentFace
        }
        
        // Upload Image + Data
        const sendUserFace = async () => {
            try {
                const { data } = await axios({
                    method: 'PUT',
                    url: LOCAL_URL + 'faceRegister' + '/#{data.id}', 
                    headers: { 'Content-Type': 'application/octet-stream' }, 
                    data:  currentFace
                })
                if(data.redirect) {
                    window.location = `${data.redirect}`
                }

            } catch (error) {
                console.error(error)
            }      
        }
        
        sendImage.addEventListener('click', () => sendUserFace())
        userModalEl.addEventListener('click', () => showCurrentUserImage())